/*鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢鬮ｫ�ｴ髮懶ｽ｣�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�｡鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢鬮ｫ�ｴ闕ｵ證ｦ�ｿ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｹ鬮ｫ�ｴ遶擾ｽｵ�ｽ�ｺ�ｽ�ｽ�ｽ�ｽ�ｽ�､�ｽ�ｽ�ｽ�ｼ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｹ鬮ｫ�ｴ髮懶ｽ｣�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｼ鬯ｯ�ｯ�ｽ�ｨ�ｽ�ｽ�ｽ�ｾ鬮ｯ蜈ｷ�ｽ�ｹ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｨ*/
body{
	background-size: cover;
}
h2{
  text-shadow: 2px 2px 10px #FFF;
}
.line{
  background: linear-gradient(transparent 60%, #ffd700 60%);
  font-weight:bolder;
  text-shadow: 4px 4px 15px #FFF;
}
#menu {
  width:800px;
  padding:0;
  margin-right: auto;
  margin-left: 24.5%;
  margin-top:-2%;
  align:center;
  list-style-type: none;
}
.introduce{
  margin:1%;
}
#menu li {
  width:20%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}
#menu li a {
  width:auto;
  color:#fff;
  font-size:15px;
  font-weight:bold;
  text-shadow:0 -1px 0px #333,0 1px 0px #555;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#666;
  background-image: -moz-linear-gradient(top, #888 0%, #777 50%, #666 50%, #777 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888), color-stop(0.50, #777), color-stop(0.50, #666), color-stop(1, #777));
  border-left:1px solid #444;
  box-shadow: 1px 0px 0px rgba(225,225,225,0.3) inset,
			 -1px 0px 0px rgba(225,225,225,0.3) inset,
			  0px 1px 1px rgba(0,0,0,0.1) inset,
			  0px -1px 1px rgba(0,0,0,0.3) inset,
			  0px 1px 3px #666;
}
#menu li:first-child a{
  border-left:0px;
  border-radius:5px 0 0 5px;
  border-left:0;
  box-shadow:-1px 0px 0px rgba(225,225,225,0.3) inset,
			  0px 1px 1px rgba(0,0,0,0.1) inset,
			  0px -1px 1px rgba(0,0,0,0.3) inset,
			  0px 1px 3px #666;
}
#menu li:last-child a{
  border-radius:0 5px 5px 0;
  box-shadow: 1px 0px 0px rgba(225,225,225,0.3) inset,
			  0px 1px 1px rgba(0,0,0,0.1) inset,
			  0px -1px 1px rgba(0,0,0,0.3) inset,
			  0px 1px 3px #666;
}
#menu li a:hover {
  background:#555;
  background-image: -moz-linear-gradient(top, #555 0%, #444 50%, #333 50%, #444 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(0.50, #444), color-stop(0.50, #333), color-stop(1, #444));
  box-shadow: 1px 0px 0px rgba(225,225,225,0) inset,
			 -1px 0px 0px rgba(225,225,225,0) inset,
			  0px 1px 1px rgba(0,0,0,0.1) inset,
			  0px -1px 1px rgba(0,0,0,0.3) inset,
			  0px 1px 3px #666;
}

/*鬯ｯ�ｮ�ｽ�ｴ髫ｰ�ｽ竏橸ｿｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｴ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｾ鬯ｯ�ｮ�ｽ�ｯ髫ｲ蟷｢�ｽ�ｶ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｨ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｨ鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｧ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｹ鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢鬮ｫ�ｴ髮懶ｽ｣�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｿ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｧ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｿ鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｧ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｹ鬯ｯ�ｯ�ｽ�ｨ�ｽ�ｽ�ｽ�ｾ鬮ｯ蜈ｷ�ｽ�ｹ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｨ*/
.box26 {
    position: relative;
    width:70%;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: black;
    font-weight: bold;
}
.box26 p {
    margin: 0;
    padding: 0;
    text-align:center
}

.balloon2-top {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2-top:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #FFF;
  z-index: 2;
}

.balloon2-top:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #555;
  z-index: 1;
}

.balloon2-top p {
  margin: 0;
  padding: 0;
}

<<<<<<< .mine

=======
/*鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢鬮ｫ�ｴ髮懶ｽ｣�ｽ�ｽ�ｽ�｢�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｿ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ鬯ｯ�ｩ陝ｷ�｢�ｽ�ｽ�ｽ�｢鬮ｫ�ｴ髮懶ｽ｣�ｽ�ｿ�ｽ�ｽ�ｽ繧托ｽｽ�ｧ�ｽ�ｽ�ｽ�ｽ髯ｷ�ｿ陷�ｽｶ�ｽ�ｾ�ｽ�ｨ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｽ�ｨ*/
>>>>>>> .r54
.cp_pricetable3 *, .cp_pricetable3 *:before, .cp_pricetable3 *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_pricetable3 {
	width: 55%;
	margin: 0 auto;
	border-spacing: 1px 0;
	border-collapse: separate;
}
.cp_pricetable3 th, .cp_pricetable3 td {
	padding: 10px;
}

.cp_pricetable3 th {
	position: relative;
	z-index: 1;
	width: 125px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	border-radius: 5px 5px 0 0;
	background: #88b7d5;
}
.cp_pricetable3 th:after {
	font-family: 'FontAwesome';
	font-size: 5em;
	position: absolute;
	z-index: -1;
	right: 0;
	bottom: -30px;
	left: 0;
	content: '\f0d7';
}
.cp_pricetable3 th.group1 {
	background: #2e9b72;
}
.cp_pricetable3 th.group1:after {
	color: #2e9b72;
}
.cp_pricetable3 th.group2 {
	background: #da3c41;
}
.cp_pricetable3 th.group2:after {
	color: #da3c41;
}
.cp_pricetable3 th.group3 {
	background: #131874;
}
.cp_pricetable3 th.group3:after {
	color: #131874;
}

.cp_pricetable3 tr td {
	padding-top: 15px;
	text-align: center;
	border: none;
}
.cp_pricetable3 tr:last-child td {
	border-radius: 0 0 5px 5px;
}
.cp_pricetable3 tr:nth-child(2n+1) td.group1 {
	background: #8cd9bc;
}
.cp_pricetable3 tr:nth-child(2n+0) td.group1 {
	background: #c3e4d8;
}
.cp_pricetable3 tr:nth-child(2n+1) td.group2 {
	background: #f2c2c2;
}
.cp_pricetable3 tr:nth-child(2n+0) td.group2 {
	background: #f7e1e1;
}
.cp_pricetable3 tr:nth-child(2n+1) td.group3 {
	background: #a9bce2;
}
.cp_pricetable3 tr:nth-child(2n+0) td.group3 {
	background: #d7e1f4;
}

.cp_pricetable3 a.cp_btn {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	padding: 0.3em 1em;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #da3c41;
	border-radius: 4px;
	background: #da3c41;
}
.cp_pricetable3 .cp_btn:after {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 0;
	content: '';
	transition: 0.3s;
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
	opacity: 0;
	background: #ffffff;
}
.cp_pricetable3 .cp_btn:hover {
	color: #da3c41;
}
.cp_pricetable3 .cp_btn:hover:after {
	height: 250%;
	opacity: 1;
}
.cp_pricetable3 .cp_btn:active:after {
	height: 350%;
	opacity: 1;
}


.reroll{
    border: 0px;
}
img.reroll:hover{

	opacity:0.5;

	cursor: pointer;
}
img.reroll:active{

	position: relative;
	top: 3px;
}


.button {
  display: inline-block;
  padding: .65em 4em;
  background: -webkit-linear-gradient(#fe5f95 , #ff3f7f);
  background: linear-gradient(#fe5f95 , #ff3f7f);
  border: 1px solid #fe3276;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.button:hover {
  -webkit-animation: bounce 2s ease-in-out;
  animation: bounce 2s ease-in-out;
}
@-webkit-keyframes bounce {
  5%  { -webkit-transform: scale(1.1, .8); }
  10% { -webkit-transform: scale(.8, 1.1) translateY(-5px); }
  15% { -webkit-transform: scale(1, 1); }
}
@keyframes bounce {
  5%  { transform: scale(1.1, .8); }
  10% { transform: scale(.8, 1.1) translateY(-5px); }
  15% { transform: scale(1, 1); }
}
